<br>
<br>
<h5><strong>Información personal:</strong></h5>
<h6><strong>Nombre: </strong> Mary Yuliana Boyacá Aguilar</h6>
<h6><strong>Ciudad: </strong> Tunja</h6>
<h6><strong>Link repositorio: </strong> <a href="https://github.com/yulianaboyaca04/YulianaBoyacaSemillero.git" target="_blank">https://github.com/yulianaboyaca04/YulianaBoyacaSemillero.git</a></h6>

<br>
<h5><strong>Nota adicional:</strong></h5>
<!--Muestra el valor que contiene la variable nombre que se encuentra en el ts-->
<h6>{{nombre}}</h6>